/* ===============================
   Author:  {Traihel Vladimir}
   Project: {}
   Date:    {01.01.2021}
   Version: {1.0}
  
   Colour Palette:
   ---------------
   background
   =============================== */
*{box-sizing: border-box;}

/*body*/
 
/* Header */

/*Main*/

/* Footer */

.clearfix:after {
	visibility: hidden;
	display: block;
	content: "";
	clear: both;
	height: 0;
	}
* html .group             { zoom: 1; } /* IE6 */
*:first-child+html .group { zoom: 1; } /* IE7 */